/*h1{
    color: #f07167;
}
a:link{
    color: #f07167;
    text-decoration: none;
}
a:visited{
    color: #219ebc;
    text-decoration: none;
}
cuando nos ponemos encima del links 
a:hover{
    color: #8ecae6;
    text-decoration: underline;
}
a:active{
    color: #023047;
    text-decoration: underline;
}
*/
h1{
    color: blueviolet;
}
a:link, a:visited{
    background-color: #b5179e;
    color: azure;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
}
a:hover, a:active{
    background-color: #f72585;
}